.auth {
	position: relative;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}

.auth-register::before {
	content: "";
	background-image: linear-gradient(-45deg, #4481eb, #04befe);
	width: 2000px;
	height: 2000px;
	position: absolute;
	border-radius: 50%;

	top: -900px;
	left: 50vw;

	transition: 2s ease-in-out;
	z-index: 5;
}

.auth-login::before {
	content: "";
	background-image: linear-gradient(-45deg, #4481eb, #04befe);
	width: 2000px;
	height: 2000px;
	position: absolute;
	border-radius: 50%;

	top: -900px;
	left: calc(-1 * (2000px - 50vw));

	transition: 2s ease-in-out;
	z-index: 5;
}

/* RESPONSIVENESS */
@media only screen and (max-width: 700px) {
	.auth-login::before {
		content: "";
		background-image: linear-gradient(-45deg, #4481eb, #04befe);
		width: 2000px;
		height: 2000px;
		position: absolute;
		border-radius: 50%;

		top: calc(-1 * (2000px - 30vh));
		left: -800px;

		transition: 2s ease-in-out;
		z-index: 5;
	}
	.auth-register::before {
		content: "";
		background-image: linear-gradient(-45deg, #4481eb, #04befe);
		width: 2000px;
		height: 2000px;
		position: absolute;
		border-radius: 50%;

		top: 70vh;
		left: -800px;

		transition: 2s ease-in-out;
		z-index: 5;
	}
}

@media only screen and (max-height: 525px) {
	.auth-login::before {
		content: "";
		background-image: linear-gradient(-45deg, #4481eb, #04befe);
		width: 2000px;
		height: 2000px;
		position: absolute;
		border-radius: 50%;

		top: calc(-1 * (2000px - 20vh));
		left: -800px;

		transition: 2s ease-in-out;
		z-index: 5;
	}
	.auth-register::before {
		content: "";
		background-image: linear-gradient(-45deg, #4481eb, #04befe);
		width: 2000px;
		height: 2000px;
		position: absolute;
		border-radius: 50%;

		top: 80vh;
		left: -800px;

		transition: 2s ease-in-out;
		z-index: 5;
	}
}
