.home {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-image: url("../images/a.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* contacts */
.contacts {
	width: 30vw;
	height: 90vh;
	background-color: rgba(10, 150, 100, 0.9);
}
.title {
	height: 15%;
	width: 100%;
	/* background-color: rgba(185, 106, 59, 0.9); */
	background-image: linear-gradient(red, rgb(3, 92, 29));
	color: whitesmoke;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.title-img-container {
	background-image: url("../images/allmight01.jpg");
	width: 60px;
	height: 60px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.title-h1 {
	font-size: 1.5rem;
	text-align: center;
	margin-left: 1rem;
}
.contactList {
	height: 60%;
	font-size: 1.25rem;
}
.userProfile {
	height: 15%;
	background-color: rgba(150, 50, 100, 0.9);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: beige;
}

.userProfile-img-container {
	height: 60px;
	width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
.userProfile-username {
	margin-left: 1rem;
}
.userProfile .logout {
	margin-left: 1rem;
	border-radius: 50%;
	background-color: rebeccapurple;
	height: 35px;
	width: 35px;
	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;

	border: 2px outset silver;
}

.userProfile .logout:hover {
	background-color: royalblue;
}

/* NEW CONTACT */
.newContact {
	height: 10%;
	width: 100%;
	background-color: rgba(10, 150, 200, 0.6);

	display: flex;
	justify-content: center;
	align-items: center;
	color: aliceblue;
}

.newContact .div-normal {
	height: 100%;
	width: 100%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.newContactPlus {
	border-radius: 50%;
	width: 30px;
	height: 30px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(100, 200, 100, 0.9);

	font-size: 2rem;
}

.newContactText {
	margin-left: 1rem;
}
.newContact .div-find {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	padding: 0.5rem 1rem;

	color: rgba(0, 0, 0, 0.1);
}
.newContact input {
	background-color: transparent;
	outline: none;
	border: none;
	color: white;
}
.newContact input::placeholder {
	color: whitesmoke;
	font-size: 1rem;
}
.newContact input:-ms-input-placeholder {
	color: whitesmoke;
	font-size: 1rem;
}
.newContact input::-ms-input-placeholder {
	color: whitesmoke;
	font-size: 1rem;
}
/* CONTACT LIST */

.contactList {
	display: flex;
	flex-direction: column;
	align-items: center;

	overflow: auto;
}
.contact {
	width: 100%;
	height: 20%;
	background-color: rgba(146, 163, 197, 0.6);
	margin-top: 0.35rem;

	display: flex;
	flex-direction: row;
	justify-content: left;
}
.contact-img-container {
	width: 30%;
	height: 100%;
}
.contact-img {
	width: 100%;
	height: 100%;
}
.contact-username {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* CONTACTLIST SCROLL */
.contactList::-webkit-scrollbar {
	width: 0.5rem;
}
.contactList::-webkit-scrollbar-thumb {
	background-color: #ffffff39;
	width: 0.1rem;
	border-radius: 1rem;
}
.contact.selected {
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
}

/* CHAT */

.chat {
	width: 60vw;
	height: 90vh;
	background-color: rgba(88, 136, 172, 0.95);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: relative;
}

/* WELCOME */
.welcome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 50%;
	position: relative;
}

.welcome-img {
	width: 60%;
	height: 60%;
}
.welcome-username {
	color: rgb(26, 16, 173);
	font-size: 1.5rem;
}
.welcome-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: white;
}

/* CHAT */

.chatHeader {
	width: 100%;
	height: 15%;
	background-color: rgba(150, 50, 100, 0.9);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.chatHeader .back-button-container {
	width: 60%;
	display: flex;
	justify-content: flex-end;
	padding-right: 1rem;
}
.chatHeader .back-button {
	border-radius: 50%;
	border: 5px inset goldenrod;
	height: 50px;
	width: 50px;
	cursor: pointer;
}

.chatHeader-img-container {
	height: 60px;
	width: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;

	margin-left: 1rem;
}
.chatHeader-username {
	margin-left: 1rem;
}

/* CHAT INPUT */

.chatInput {
	height: 10%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);

	display: flex;
	flex-direction: row;
}

.div-emoji {
	width: 10%;
	border-radius: 50%;

	display: flex;
	justify-content: center;
	align-items: center;

	color: yellow;
}
.chatInput .emoji {
	cursor: pointer;
}

.chatInput .input-field {
	width: 90%;

	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 20px;
	padding: 0.5rem 1rem;

	color: rgba(0, 0, 0, 0.1);
}
.chatInput .input-field form {
	width: 100%;
}
.chatInput .input-field .input {
	background-color: transparent;
	outline: none;
	border: none;
	width: 100%;
	font-size: 1rem;
}

.chatInput .emoji-picker-container {
	width: 70%;
	height: 70%;
	position: absolute;

	border-radius: 10px;

	bottom: 9.5%;
	left: 5%;

	visibility: hidden;
	pointer-events: none;
}

.chatInput .emoji-picker-container.show {
	visibility: visible;
	pointer-events: all;
	cursor: pointer;
}

/* EMOJI PICKER REACT */

.EmojiPickerReact {
	--epr-emoji-size: 15px;
	--epr-bg-color: rgba(0, 0, 0, 0.9);
}

/* EMOJI PICKER HEADER */
.EmojiPickerReact .epr-header {
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.EmojiPickerReact .epr-header .epr-header-overlay {
	height: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0;
}
.EmojiPickerReact .epr-header .epr-header-overlay .epr-search-container {
	height: 80%;
	display: flex;
	justify-content: center;
}
.EmojiPickerReact
	.epr-header
	.epr-header-overlay
	.epr-search-container
	.epr-icn-search {
	height: 100%;
}
.EmojiPickerReact
	.epr-header
	.epr-header-overlay
	.epr-search-container
	.epr-search {
	height: 100%;
	width: 90%;
}
.EmojiPickerReact
	.epr-header
	.epr-header-overlay
	.epr-skin-tones.epr-horizontal {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.EmojiPickerReact .epr-category-nav {
	height: 50%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0;
}
.EmojiPickerReact .epr-category-nav > button.epr-cat-btn {
	width: 10%;
	height: 50%;
}

/* EPR-BODY */
.EmojiPickerReact .epr-body {
	height: 50%;
}
.EmojiPickerReact li.epr-emoji-category > .epr-emoji-category-label {
	height: 20px;
	background-color: rgba(0, 0, 0, 0.9);
}

/* EPR-PREVIEW */
.EmojiPickerReact .epr-preview {
	height: 20%;
	color: black;
}

.EmojiPickerReact .epr-preview .__EmojiPicker__.epr-emoji-img {
	height: 100%;
}

/* EPR-BODY SCROLL */
.EmojiPickerReact .epr-body::-webkit-scrollbar {
	width: 0.5rem;
}
.EmojiPickerReact .epr-body::-webkit-scrollbar-thumb {
	background-color: #ffffff39;
	width: 0.1rem;
	border-radius: 1rem;
}

/* CHAT BOX */
.chatBox {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	width: 100%;
	height: 80%;
}

.chatBox .message {
	background-color: rgba(0, 0, 0, 0.5);
	color: rgba(188, 236, 252, 0.95);
	border-radius: 5px;
	margin: 0.1rem 0;
	padding: 0.5rem 1rem;

	max-width: 90%;
	overflow-wrap: break-word;
}

.chatBox .message.sent {
	align-self: flex-end;
}
.chatBox .message.received {
	align-self: flex-start;
}

.chatBox::-webkit-scrollbar {
	width: 0.25rem;
}
.chatBox::-webkit-scrollbar-thumb {
	background-color: #1269bbcb;
	width: 0.1rem;
	border-radius: 1rem;
}

@media only screen and (max-width: 500px) {
	.home {
		background-color: red;
	}
	.contacts {
		width: 100%;
		height: 100vh;
		background-color: rgba(10, 150, 100, 0.9);
	}

	.title-img-container {
		background-image: url("../images/allmight01.jpg");
		width: 120px;
		height: 120px;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.chat {
		width: 60vw;
		height: 90vh;
		background-color: rgba(88, 136, 172, 0.95);

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		visibility: hidden;
		position: absolute;
		pointer-events: none;
	}
	#chat-hide {
		width: 100vw;
		height: 100vh;
	}
	#chat-show {
		visibility: visible;
		position: relative;
		pointer-events: all;

		width: 100vw;
		height: 100vh;
	}
	#contacts-hide {
		visibility: hidden;
		position: absolute;
		pointer-events: none;
	}
}
