#keyboard {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-width: 75vw;
	justify-content: center;
	align-items: center;
	margin: auto;
}

#keyRow {
	display: flex;
	margin: 0 0 8px 0;
}
#key {
	width: 44px;
	height: 58px;

	color: white;
	border-radius: 5px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	font-size: large;
	font-weight: 900;

	margin: 0 0 0 6px;
}

.green {
	background-color: #538d4e;
}
.neutral {
	background-color: #818384;
}
.grey {
	background-color: #3a3a3c;
}
.yellow {
	background-color: #b59f3b;
}
