.input {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;

	width: 100vw;
	max-width: 550px;
	height: 8vh;

	margin-top: 5vh;
}

.input > div {
	border-bottom: 1px solid white;
	width: 5vw;
	height: 5vw;
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0 0 0 10px;
}

.hide {
	visibility: hidden;
}
